web/WEB-INF/wsdl/localhost_8080/wsRate/CustomerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="CustomerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/wsRate/CustomerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getMyProfile">
<part name="parameters" element="tns:getMyProfile"/>
</message>
<message name="getMyProfileResponse">
<part name="parameters" element="tns:getMyProfileResponse"/>
</message>
<message name="getAccountDetails">
<part name="parameters" element="tns:getAccountDetails"/>
</message>
<message name="getAccountDetailsResponse">
<part name="parameters" element="tns:getAccountDetailsResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="insertOperation">
<part name="parameters" element="tns:insertOperation"/>
</message>
<message name="insertOperationResponse">
<part name="parameters" element="tns:insertOperationResponse"/>
</message>
<message name="SQLException">
<part name="fault" element="tns:SQLException"/>
</message>
<message name="getTotalNumberOfCustomers">
<part name="parameters" element="tns:getTotalNumberOfCustomers"/>
</message>
<message name="getTotalNumberOfCustomersResponse">
<part name="parameters" element="tns:getTotalNumberOfCustomersResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<portType name="CustomerWebService">
<operation name="getMyProfile">
<input wsam:Action="http://ws/CustomerWebService/getMyProfileRequest" message="tns:getMyProfile"/>
<output wsam:Action="http://ws/CustomerWebService/getMyProfileResponse" message="tns:getMyProfileResponse"/>
</operation>
<operation name="getAccountDetails">
<input wsam:Action="http://ws/CustomerWebService/getAccountDetailsRequest" message="tns:getAccountDetails"/>
<output wsam:Action="http://ws/CustomerWebService/getAccountDetailsResponse" message="tns:getAccountDetailsResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://ws/CustomerWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://ws/CustomerWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="insertOperation">
<input wsam:Action="http://ws/CustomerWebService/insertOperationRequest" message="tns:insertOperation"/>
<output wsam:Action="http://ws/CustomerWebService/insertOperationResponse" message="tns:insertOperationResponse"/>
<fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws/CustomerWebService/insertOperation/Fault/SQLException"/>
</operation>
<operation name="getTotalNumberOfCustomers">
<input wsam:Action="http://ws/CustomerWebService/getTotalNumberOfCustomersRequest" message="tns:getTotalNumberOfCustomers"/>
<output wsam:Action="http://ws/CustomerWebService/getTotalNumberOfCustomersResponse" message="tns:getTotalNumberOfCustomersResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://ws/CustomerWebService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://ws/CustomerWebService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerWebServicePortBinding" type="tns:CustomerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getMyProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="SQLException">
<soap:fault name="SQLException" use="literal"/>
</fault>
</operation>
<operation name="getTotalNumberOfCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerWebService">
<port name="CustomerWebServicePort" binding="tns:CustomerWebServicePortBinding">
<soap:address location="http://localhost:8080/wsRate/CustomerWebService"/>
</port>
</service>
</definitions>