web/WEB-INF/wsdl/localhost_8080/wsRate/DirectDebitWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://transaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://transaction/">

<xs:element name="directDebit" type="tns:directDebit"/>

<xs:element name="directDebitResponse" type="tns:directDebitResponse"/>

<xs:element name="getAccountDetails" type="tns:getAccountDetails"/>

<xs:element name="getAccountDetailsResponse" type="tns:getAccountDetailsResponse"/>

<xs:element name="insertDDData" type="tns:insertDDData"/>

<xs:element name="insertDDDataResponse" type="tns:insertDDDataResponse"/>

<xs:complexType name="directDebit">
<xs:sequence>
<xs:element name="custID" type="xs:int"/>
<xs:element name="accountNumber" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="directDebitResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDDData">
<xs:sequence>
<xs:element name="accountNumber" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="date" type="xs:anySimpleType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertDDDataResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountDetails">
<xs:sequence>
<xs:element name="custID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountBalance" type="xs:double" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:int"/>
<xs:element name="accountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="custID" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>