web/WEB-INF/wsdl/localhost_8080/wsRate/DirectDebitWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://transaction/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://transaction/" name="DirectDebitWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://transaction/" schemaLocation="http://localhost:8080/wsRate/DirectDebitWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getDirectDebitDetails">
<part name="parameters" element="tns:getDirectDebitDetails"/>
</message>
<message name="getDirectDebitDetailsResponse">
<part name="parameters" element="tns:getDirectDebitDetailsResponse"/>
</message>
<message name="directDebitScheduledOperation">
<part name="parameters" element="tns:directDebitScheduledOperation"/>
</message>
<message name="directDebitScheduledOperationResponse">
<part name="parameters" element="tns:directDebitScheduledOperationResponse"/>
</message>
<message name="insertDDData">
<part name="parameters" element="tns:insertDDData"/>
</message>
<message name="insertDDDataResponse">
<part name="parameters" element="tns:insertDDDataResponse"/>
</message>
<message name="getAccountDetails">
<part name="parameters" element="tns:getAccountDetails"/>
</message>
<message name="getAccountDetailsResponse">
<part name="parameters" element="tns:getAccountDetailsResponse"/>
</message>
<portType name="DirectDebitWebService">
<operation name="getDirectDebitDetails">
<input wsam:Action="http://transaction/DirectDebitWebService/getDirectDebitDetailsRequest" message="tns:getDirectDebitDetails"/>
<output wsam:Action="http://transaction/DirectDebitWebService/getDirectDebitDetailsResponse" message="tns:getDirectDebitDetailsResponse"/>
</operation>
<operation name="directDebitScheduledOperation">
<input wsam:Action="http://transaction/DirectDebitWebService/directDebitScheduledOperationRequest" message="tns:directDebitScheduledOperation"/>
<output wsam:Action="http://transaction/DirectDebitWebService/directDebitScheduledOperationResponse" message="tns:directDebitScheduledOperationResponse"/>
</operation>
<operation name="insertDDData">
<input wsam:Action="http://transaction/DirectDebitWebService/insertDDDataRequest" message="tns:insertDDData"/>
<output wsam:Action="http://transaction/DirectDebitWebService/insertDDDataResponse" message="tns:insertDDDataResponse"/>
</operation>
<operation name="getAccountDetails">
<input wsam:Action="http://transaction/DirectDebitWebService/getAccountDetailsRequest" message="tns:getAccountDetails"/>
<output wsam:Action="http://transaction/DirectDebitWebService/getAccountDetailsResponse" message="tns:getAccountDetailsResponse"/>
</operation>
</portType>
<binding name="DirectDebitWebServicePortBinding" type="tns:DirectDebitWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDirectDebitDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="directDebitScheduledOperation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertDDData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DirectDebitWebService">
<port name="DirectDebitWebServicePort" binding="tns:DirectDebitWebServicePortBinding">
<soap:address location="http://localhost:8080/wsRate/DirectDebitWebService"/>
</port>
</service>
</definitions>