src/conf/xml-resources/web-service-references/TransactionWebService/wsdl/localhost_8080/wsRate/TransactionWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://transaction/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://transaction/" name="TransactionWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://transaction/" schemaLocation="http://localhost:8080/wsRate/TransactionWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="depositMoney">
<part name="parameters" element="tns:depositMoney"/>
</message>
<message name="depositMoneyResponse">
<part name="parameters" element="tns:depositMoneyResponse"/>
</message>
<message name="getAccountDetails">
<part name="parameters" element="tns:getAccountDetails"/>
</message>
<message name="getAccountDetailsResponse">
<part name="parameters" element="tns:getAccountDetailsResponse"/>
</message>
<message name="withdrawMoney">
<part name="parameters" element="tns:withdrawMoney"/>
</message>
<message name="withdrawMoneyResponse">
<part name="parameters" element="tns:withdrawMoneyResponse"/>
</message>
<portType name="TransactionWebService">
<operation name="depositMoney">
<input wsam:Action="http://transaction/TransactionWebService/depositMoneyRequest" message="tns:depositMoney"/>
<output wsam:Action="http://transaction/TransactionWebService/depositMoneyResponse" message="tns:depositMoneyResponse"/>
</operation>
<operation name="getAccountDetails">
<input wsam:Action="http://transaction/TransactionWebService/getAccountDetailsRequest" message="tns:getAccountDetails"/>
<output wsam:Action="http://transaction/TransactionWebService/getAccountDetailsResponse" message="tns:getAccountDetailsResponse"/>
</operation>
<operation name="withdrawMoney">
<input wsam:Action="http://transaction/TransactionWebService/withdrawMoneyRequest" message="tns:withdrawMoney"/>
<output wsam:Action="http://transaction/TransactionWebService/withdrawMoneyResponse" message="tns:withdrawMoneyResponse"/>
</operation>
</portType>
<binding name="TransactionWebServicePortBinding" type="tns:TransactionWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="depositMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="withdrawMoney">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransactionWebService">
<port name="TransactionWebServicePort" binding="tns:TransactionWebServicePortBinding">
<soap:address location="http://localhost:8080/wsRate/TransactionWebService"/>
</port>
</service>
</definitions>