src/conf/xml-resources/web-service-references/TransactionWebService/wsdl/localhost_8080/wsRate/TransactionWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://transaction/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://transaction/">

<xs:element name="depositMoney" type="tns:depositMoney"/>

<xs:element name="depositMoneyResponse" type="tns:depositMoneyResponse"/>

<xs:element name="getAccountDetails" type="tns:getAccountDetails"/>

<xs:element name="getAccountDetailsResponse" type="tns:getAccountDetailsResponse"/>

<xs:element name="getTransactions" type="tns:getTransactions"/>

<xs:element name="getTransactionsResponse" type="tns:getTransactionsResponse"/>

<xs:element name="withdrawMoney" type="tns:withdrawMoney"/>

<xs:element name="withdrawMoneyResponse" type="tns:withdrawMoneyResponse"/>

<xs:complexType name="getAccountDetails">
<xs:sequence>
<xs:element name="custID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountBalance" type="xs:double" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:int"/>
<xs:element name="accountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="custID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactions">
<xs:sequence>
<xs:element name="accountNumber" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTransactionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:transactions" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transactions">
<xs:sequence>
<xs:element name="accountNumber" type="xs:int"/>
<xs:element name="dateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="transactionAmount" type="xs:double" minOccurs="0"/>
<xs:element name="transactionID" type="xs:int"/>
<xs:element name="transactionType" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositMoney">
<xs:sequence>
<xs:element name="amount" type="xs:double" minOccurs="0"/>
<xs:element name="custID" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositMoneyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawMoney">
<xs:sequence>
<xs:element name="custID" type="xs:int"/>
<xs:element name="amount" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="withdrawMoneyResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>