src/conf/xml-resources/web-service-references/CustomerWebService/wsdl/localhost_8080/wsRate/CustomerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getAccountDetails" type="tns:getAccountDetails"/>

<xs:element name="getAccountDetailsResponse" type="tns:getAccountDetailsResponse"/>

<xs:element name="getMyProfile" type="tns:getMyProfile"/>

<xs:element name="getMyProfileResponse" type="tns:getMyProfileResponse"/>

<xs:complexType name="getAccountDetails">
<xs:sequence>
<xs:element name="custID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAccountDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:account" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="account">
<xs:sequence>
<xs:element name="accountBalance" type="xs:string" minOccurs="0"/>
<xs:element name="accountNumber" type="xs:string" minOccurs="0"/>
<xs:element name="accountStatus" type="xs:string" minOccurs="0"/>
<xs:element name="accountType" type="xs:string" minOccurs="0"/>
<xs:element name="custID" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyProfile">
<xs:sequence>
<xs:element name="customer_username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMyProfileResponse">
<xs:sequence>
<xs:element name="return" type="tns:customerProfile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerProfile">
<xs:sequence>
<xs:element name="cust_Addressline1" type="xs:string" minOccurs="0"/>
<xs:element name="cust_Addressline2" type="xs:string" minOccurs="0"/>
<xs:element name="cust_City" type="xs:string" minOccurs="0"/>
<xs:element name="cust_Contactnumber" type="xs:string" minOccurs="0"/>
<xs:element name="cust_Email" type="xs:string" minOccurs="0"/>
<xs:element name="cust_ID" type="xs:string" minOccurs="0"/>
<xs:element name="cust_firstname" type="xs:string" minOccurs="0"/>
<xs:element name="cust_lastname" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>